form(method='post')
  div
    div
      span Title :
      input(type='text', name='title', id='editBookTitle', value='#{title}')
    div
      span Author :
      input(type='text', name='author', id='editBookAuthor', value='#{author}')
    #editPostSubmit
      input(type='submit', value='Send')